.task-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-top: -5.375rem;
}

.task-bar input {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-300);
  height: 3.375rem;
  padding: 1rem;
  flex: 1;
}

.task-bar button {
  background-color: var(--blue-700);
  border-radius: 8px;
  color: var(--white);
  font-weight: 700;
  height: 3.280rem;
  padding: 1rem;
  border: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.task-bar button:hover {
  background-color: var(--blue-400);
  cursor: pointer;
}

.task-bar button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}